* {
  margin: 0;
  padding: 0;
}
/* SPLASH PAGE */
 #splash-container{
  width: 100%;
  height: 100vh;
  background-image: url(/public/assets/img/AdobeStock_301716089_Preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
} 
.input-container input {
	padding-bottom: 1em;
}
#search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
#search-container input {
  width: 100%;
  padding: .5em 1em !important;
  margin: 1em  auto !important;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #ffffff !important;
  background-color: transparent !important;
}
input:focus{
  outline-width: 0;
}
#search-container ::placeholder {
  color: #fff;
}
.right-inner-addon {
  position: absolute;
    font-size: 20px;
    width: 92%;
    color: #ffffff;
}
.form-control {
  position: relative;
}
.right-inner-addon i {
  position: absolute;
  right: 10px;
  top: 17px;
  font-size: 24px;
  padding: 13px;
  pointer-events: none;
  color: #ffffff;
}
.right-inner-addon i:hover {
  cursor: pointer;
}
/* COMPONENT : LOGIN INPUTS */
#login-container{
  width: 100%;
  height: 100vh;
  background-image: url(/public/assets/img/AdobeStock_301716089_Preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  position: relative;
} 
#login-form{
  height: auto;
  width: 100%;
  display: block;
  position: absolute;
  top: 17%;
}
#login-form input, #login-form button {
  display: block;
  box-sizing: border-box;
  padding: 1.2em 1.5em;
  border-radius: 50px;
  border: none;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}
#login-form input {
  background-color: rgba(0, 0, 0, 0.53);
  backdrop-filter:blur(2px);
  border: rgb(88, 88, 88) solid 1px;
  color: #fff;
}
#login-form ::placeholder {
  color: #fff;
}
#login-form button {
  background-color: rgb(36, 112, 61);
  color: #fff;
  font-weight: 600;
}
#login-form .signup-para {
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
}
#login-form .signup-para:hover {
  color: rgb(0, 255, 8);
}
/* HOME PAGE  */
/*TODO: complete the homepageç*/