* {
  margin: 0;
  padding: 0;
}
/* SPLASH PAGE */
 #search-container{
  width: 100%;
  height: 100vh;
  background-image: url(/public/assets/img/AdobeStock_301716089_Preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
} 
.input-container input {
	padding-bottom: 1em;
}
#search-container input {
  width: 100%;
  padding: .5em 1em !important;
  margin: 1em  .6em !important;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #ffffff !important;
  background-color: transparent !important;
}
input:focus{
  outline-width: 0;
}
#search-container ::placeholder {
  color: #fff;
}
.right-inner-addon {
  position: absolute;
    font-size: 20px;
    width: 92%;
    color: #ffffff;
}
.form-control {
  position: relative;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  top: 17px;
  font-size: 24px;
  padding: 13px;
  pointer-events: none;
  color: #ffffff;
}
.right-inner-addon i:hover {
  cursor: pointer;
}
/* COMPONENT : LOGIN INPUTS */
/**TODO: complete the login page jsx and css*/